.home-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66.66%; /* 2/3 da largura */
  height: 250px;
  background-color: var(--color-blue-dark);
}

.home-video-canvas {
  background: transparent;
  width: 100%;
  height: 100%;
}