/* movieList.css */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: var(--container-width);
  margin-top: 20px;
}
