.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.video-player {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255,255,255,0.3);
  outline: none;
}

/* Estilização dos botões */
.video-controls {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 10px;
}

.video-btn {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.video-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.video-progress, .video-volume {
  width: 100px;
  height: 15px;
  margin-top: 3%;
  cursor: pointer;
  appearance: none;
  background: rgba(15, 15, 15, 0.6);
  border-radius: 5px;
  transition: 0.3s;
}

.video-progress:hover, .video-volume:hover {
  background: rgba(64, 0, 255, 0.6);
}

.video-progress::-webkit-slider-thumb, 
.video-volume::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: rgb(0, 98, 255);;
  border-radius: 50%;
  cursor: pointer;
}

.video-container:fullscreen .video-player {
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* Garante que o vídeo não estica */
}

.video-container:fullscreen .video-controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s;
}
